/* style.css */

/* --------------------------------- */
/* NavBar */
/* --------------------------------- */

.navbar {
  border: 2px solid black;
  max-width: 100vw;
  height: 17vh;
  display: flex;
  position: absolute;
}

.home {
  width: 10vw;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-img {
  position: absolute;
  max-width:10.5vw;
  height: 10.1vh;
}

.links {
  width: 10vw;
  justify-content: center;
  font-size: clamp(1rem, 1.05vw + 0.9rem, 1.1rem);
  align-items: center;
  display: flex;
  border: 2px solid red;
  right: 1;
}

/* --------------------------------- */
/* --------------------------------- */

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: relative;  /* or use fixed for sticky footer */
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}

.sidebar__wrapper {
    position: absolute;          /* stays in place */
    top: 0;
    left: 0;
    width: 250px;
    height: 60vh;            /* full screen height */
    background-color: #2c3e50;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 10;              /* above main content */
}


.sidebar__wrapper.collapsed {
    width: 60px; /* collapsed width */
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center; /* center logo */
    margin-bottom: 2rem;
    cursor: pointer; /* indicate clickable */
}

.sidebar-header img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar__wrapper.collapsed .header-logo img {
    opacity: 0; /* hide logo when collapsed */
}

.sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar__item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar__item.selected a {
    background-color: #34495e;
}

.sidebar__wrapper.collapsed .sidebar__item a span:not(.icon) {
    display: none; /* hide text when collapsed */
}

.sidebar__bottom {
    margin-top: auto;
}

.sidebar__bottom a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidebar__wrapper.collapsed .sidebar__bottom a span:not(.icon) {
    display: none; /* hide text when collapsed */
}
