<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CodeIslander - Welcome</title>
        {% load static %}
        <link rel="icon" href="{% static 'Images/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.162.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": "https://unpkg.com/three@0.162.0/examples/jsm/loaders/GLTFLoader.js"
            }
        }
        </script>
        
        {% block head_content %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="home">
                    <img class="home-img" src="{% static 'Images/new-logo.png' %}">
                </div>
                <div class="links">
                    <a>Premium</a>  
                </div>
                <div class="links">
                    <a>About</a>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <p>&copy; 2025 My Website. All rights reserved.</p>
        </footer>
    </body>
</html>