<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CodeIslander - Welcome</title>
        {% load static %}
        <link rel="icon" href="{% static 'Images/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/vip.css' %}">
        <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.162.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": "https://unpkg.com/three@0.162.0/examples/jsm/loaders/GLTFLoader.js"
            }
        }
        </script>
        
        {% block head_content %}{% endblock %}
    </head>
<body>
<aside class="sidebar__wrapper" id="sidebar">
    <!-- Sidebar Header / Logo -->
    <div class="sidebar-header">
        <a href="home" class="header-logo" id="sidebar-logo">
            <img src="/static/Images/new-logo.png" alt="logo">
        </a>
    </div>

    <!-- Navigation List -->
    <ul class="sidebar__list">
        <li class="sidebar__item selected">
            <a href="{% url 'vip' %}"><span class="icon">⚡</span> VIP</a>
        </li>
        <li class="sidebar__item">
            <a href="{% url 'home' %}"><span class="icon">🏠</span> Home</a>
        </li>
        <li class="sidebar__item">
            <a href="{% url 'profile' %}"><span class="icon">🔒</span> Profile</a>
        </li>
        <li class="sidebar__item">
            <a href="{% url 'updates' %}"><span class="icon">ℹ️</span> Info</a>
        </li>
        <li class="sidebar__item">
            <a href="{% url 'support' %}"><span class="icon">🛠️</span> Support/help</a>
        </li>
        <li class="sidebar__item">
            <a href="{% static 'files/Theory_python.pdf' %}" target="_blank" rel="noopener noreferrer"><span class="icon">📄</span> Codeislander Documentation</a></a>
        </li>
    </ul>

    
    <div class="sidebar__bottom">
        <a href="{% url 'logout' %}"><span class="icon">🔓</span> Logout</a>
    </div>
</aside>

<script>
    const sidebar = document.getElementById('sidebar');
    const logo = document.getElementById('sidebar-logo');

    logo.addEventListener('click', (e) => {
        e.preventDefault(); // prevent navigation
        sidebar.classList.toggle('collapsed');
    });
</script>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Website. All rights reserved.</p>
    </footer>
</body>

</html>