<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CodeIslander - Welcome</title>
        {% load static %}
        <link rel="icon" href="{% static 'Images/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.162.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": "https://unpkg.com/three@0.162.0/examples/jsm/loaders/GLTFLoader.js"
            }
        }
        </script>
        
        {% block head_content %}{% endblock %}
    </head>
<body>
    <aside class="sidebar__wrapper">
        <ul class="sidebar__list">
            <li class="sidebar__item selected">
                <a href="#"><span class="icon">⚡</span> Info</a>
            </li>
            <li class="sidebar__item">
                <a href="#"><span class="icon">🏠</span> Home</a>
            </li>
            <li class="sidebar__item">
                <a href="#"><span class="icon">🔒</span> Profile</a>
            </li>
        </ul>

        <div class="sidebar__settings">
            <a href="#"><span class="icon">⚙️</span> Settings</a>
        </div>
    </aside>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Website. All rights reserved.</p>
    </footer>
</body>

</html>