{% extends "base.html" %}
{% load static %}
{% block content %}
 <div class="VIP">
    <div class="pricing-table">
        <h2>🏝️ Free vs VIP</h2>
        <p>Compare the features and choose your path.</p>
        <table>
            <thead>
                <tr>
                    <th>Features</th>
                    <th>Free</th>
                    <th>VIP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Basic Python Exercises</td>
                    <td>Limited per day</td>
                    <td>Unlimited exercises</td>
                </tr>
                <tr>
                    <td>AI help and feedback</td>
                    <td>Limited per day</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Unlock exercises in branches</td>
                    <td>Certain excercises</td>
                    <td>The whole branches</td>
                </tr>
                <tr>
                    <td>Access to documentation to the exercises and theory</td>
                    <td>Only from the levels completed</td>
                    <td>All documentation</td>
                </tr>
                <tr>
                    <td>Unlock solutions for the exercises</td>
                    <td>No solutions</td>
                    <td>Solutionsunlocked after n trys</td>
                </tr>
            </tbody>
        </table>
        <button class="cta-button">Pricing</button>
    </div>
</div>
{% endblock %}