{% extends 'base.html' %}
{% load socialaccount %}


{% block content %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    
    <!-- messages block -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}


    <div class="media-options">
      <a href="{% provider_login_url 'google' %}" class="field google">
        <p>Login with Google <i class="fa-brands fa-google googleicon"></i></p>
      </a>
    </div>

    <div class="media-options">
      <a href="{% provider_login_url 'github' %}" class="field github">
        <p>Login with github <i class="fa-brands fa-github"></i></p>
      </a>
    </div>

    
    <form method="post">
        {% csrf_token %}
        <label for="username">Username/email:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <div class="g-recaptcha" data-sitekey="6Let3HYrAAAAAPeg6hk_YxJpZlWXc6fwRMllkhM8"></div>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
        <button type="submit">Login</button>
        <a href="{% url 'register' %}">Register</a>
    </form>
{% endblock %}

